@model List<Customer>

@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>


    <table id="customers">
        <thead>
            <tr>
                <th>Customer</th>
                @*<th>Discount Rate</th>*@
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
@*        @foreach (var customer in Model)
        {
            <tr>
            
                    <td>
                        <li>
                            @Html.ActionLink(customer.Name, 
                                "Edit",
                                "Customers",
                                new { customer.Id, customer.Name},
                                null)
                        </li>
                    </td>

                    <td>
                        <li>
                            @customer.MembershipType.DiscountRate
                        </li>
                    </td>
                    <td>
                        <li>
                            @customer.MembershipType.Name
                        </li>
                    </td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                    </td>
            </tr>
        }*@
        </tbody>
    </table>


@section scripts{

    <script>
        $(document).ready(function (){
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns : [
                    {
                        data: "name",
                        render: function(data, type, customer){
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function(data){
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
            $("#customers").on("click", ".js-delete", function (){
                var button = $(this);
                bootbox.confirm("Are you sure want to delete this customer?", function(result){
                    if(result){
                        $.ajax({
                        url: "/api/customers/" + button.attr("data-customer-id"),
                        method: "DELETE",
                        success: function(){
                            table.row(button.parents("tr")).remove.draw();
                        }
                    });
                    }
                });
            });
        });
    </script>
}



